---

---

<!-- Content -->
<div
  class="relative z-10 container mx-auto px-6 flex flex-col justify-center items-center text-center"
>
  <div class="text-purple-400 font-sans mb-8">
    <div class="mt-4 grid grid-cols-4 gap-4 text-center">
      <div
        class="bg-purple-900/40 backdrop-blur-sm p-3 rounded-lg flex flex-col items-center"
      >
        <span id="days" class="text-2xl font-bold">00</span>
        <p class="text-sm">Días</p>
      </div>
      <div
        class="bg-purple-900/40 backdrop-blur-sm p-3 rounded-lg flex flex-col items-center"
      >
        <span id="hours" class="text-2xl font-bold">00</span>
        <p class="text-sm">Horas</p>
      </div>
      <div
        class="bg-purple-900/40 backdrop-blur-sm p-3 rounded-lg flex flex-col items-center"
      >
        <span id="minutes" class="text-2xl font-bold">00</span>
        <p class="text-sm">Minutos</p>
      </div>
      <div
        class="bg-purple-900/40 backdrop-blur-sm p-3 rounded-lg flex flex-col items-center"
      >
        <span id="seconds" class="text-2xl font-bold">00</span>
        <p class="text-sm">Segundos</p>
      </div>
    </div>
  </div>

  <h1 class="font-serif text-7xl md:text-9xl mb-6 tracking-tight">ELBA</h1>
  <h2 class="font-serif text-5xl md:text-7xl mb-8">CUMPLE 30</h2>
  <p class="font-sans text-xl md:text-2xl mb-6 text-purple-200">
    LIVIN' HER BEST LIFE
  </p>
  <div class="max-w-xl mx-auto text-center flex flex-col items-center gap-4">
    <p class="text-lg md:text-xl text-gray-300">
      Te invito a celebrar conmigo este momento especial
    </p>

    <div class="bg-purple-900/30 backdrop-blur-sm p-4 rounded-lg">
      <p class="text-xl mb-2">Miercoles, 5 de Marzo 2024</p>
      <p class="text-lg text-purple-200">20:00 hrs</p>
      <p class="text-lg mt-2">Calle del Arte Figurativo 12</p>
      <p class="text-sm mt-2">Salón de Eventos</p>
    </div>

    <button
      id="confirmBtn"
      class="bg-purple-600 hover:bg-purple-700 text-white font-semibold py-3 px-8 rounded-full transition duration-300"
    >
      Confirmar Asistencia
    </button>
  </div>
</div>
